@model Person
@{
    ViewBag.Title = "Delete User";
}
<h2>Confirm Deletion</h2>
<h3>@Model.First (@Model.Last)</h3>
<form asp-action="Delete" method="post">
    <!----><input type="hidden" asp-for="Email" /> <!-- Replaced MovieId with Email because Email is my primary key-->
    <button type="submit" class="btn btn-primary">
        Delete
    </button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>