@model Person
@{

}
<h2>New Member Registration</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"
         class="text-danger">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email Address</label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="First">First name</label>
        <input asp-for="First" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Last">Last name</label>
        <input asp-for="Last" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CountryId">Country</label>
        <select asp-for="CountryId" class="form-control">
            <option value="">select a Country</option>
            @foreach (Country g in ViewBag.Countrys)
            {
                <option value="@g.CountryId">
                    @g.Name
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Re-Type Password</label>
        <input asp-for="ConfirmPassword" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">
        Add
    </button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>