@model List<Person>
@{
    ViewBag.Title = "My Registered Persons";
}

<div class="text-center">
    <h1 class="display-4">Assignment 5 - Fancy Signup</h1>
    <p>
        The initial page is a simple content page with the title Assignment 5 - Fancy Signup. Here, after the heading, provide a paragraph, placing the assignment instructions as its content. At the bottom, there should be two buttons: Signup and Login.
        After you click Signup, the user should be redirected to another page (signup page):
        This page will contain some extra fields. Here the user will type his/her email address, first name, last name, country and password. Emails we are storing in the dB are unique so you can consider the Email field as the PersonId. No duplicates should be written into the database. All fields are required. For the countries, provide an additional model, similar to the Genre example we had in Unit 7 lecture and seed 5 countries of your choice. Passwords should match so include a second textbox for retyping the password. Passwords should begin with a letter, should include an uppercase letter , a lowercase letter and a digit. Passwords should at least be 8 characters long.
        After the user signs up you should display a new page with some text ("Signup successful" page).
        Login page contains two fields: email and password. If a matching user is found in the database, the user should be redirected to a 'Successful Login' page, saying: 'Welcome FirstName LastName'. Obviously here, you are fetching those first and last names from the database.
    </p>
</div>
<button><a asp-controller="Person" asp-action="Add">Signup</a></button>
<button><a asp-controller="Person" asp-action="Login">Login</a></button>

<br />
<br />
<br />
<br />
<br />


